$game-lateral-border-size: 16px;
$game-top-bottom-size: 60px;
$game-width: 360px + $game-lateral-border-size;
$game-height: 640px + $game-top-bottom-size;

$color-brown: #916848;
$color-beige: #f5b390;
$color-purple: #342739;
$color-cyan: #3b8d89;
$color-green: #bed678;
$color-light-blue: #a6d9ee;
$color-blue: #0d74b6;

.background {
  background: radial-gradient(circle, $color-green 0%, $color-cyan 100%);
}

.speaker {
  vertical-align: middle;
  box-sizing: border-box;
  display: inline-block;
  background: currentColor;
  background-clip: content-box;
  width: 1em;
  height: 1em;
  border: 0.333em solid transparent;
  border-right-color: currentColor;
  position: relative;
  left: -0.337em;

  &.on:before,
  &.on:after {
    content: "";
    background: currentColor;
    width: 0.1em;
    position: absolute;
  }

  &.on:before {
    height: 0.333em;
    right: -0.533em;
  }

  &.on:after {
    height: 0.667em;
    right: -0.733em;
    top: -50%;
  }

  &.off:before,
  &.off:after {
    content: "";
    background: currentColor;
    width: 0.1em;
    position: absolute;
    height: 1.2em;
    margin-top: -0.333em;
    top: -0.1em;
    left: 0.1em;
    transform: translateX(0.333em) rotate(-45deg);
  }

  &.off:before {
    background: #04233d;
    left: 0.2em;
  }
}

.css-clock {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  display: block;

  &::before {
    content: "";
    height: 9px;
    width: 1px;
    background-color: #636363;
    display: block;
    position: absolute;
    left: 9px;
    top: 3px;
    opacity: 0.6;
  }

  &::after {
    content: "";
    height: 6px;
    width: 1px;
    background-color: #636363;
    display: block;
    position: absolute;
    top: 7px;
    left: 11px;
    transform: rotate(45deg);
    opacity: 0.6;
  }
}

* {
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
}

a,
button,
.button,
.speaker {
  cursor: pointer;
}

.header {
  overflow: hidden;
  background-color: rgb(0, 0, 0, 0.3);
  width: 100%;
  color: white;
  padding: 14px 16px;
  text-align: center;
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.scene {
  height: 100%;
  margin: 0 10px;
  justify-content: center;

  &.inactive {
    display: none;
  }
}

.container {
  height: 100%;
  display: grid !important;
  grid-template-rows: auto 1fr;
  align-items: center;
}

div[data-scene="Tutorial"],
div[data-scene="About"],
div[data-scene="GameOver"] {
  display: grid;
  grid-template-columns: auto;
  align-items: center;

  div.colored {
    border-radius: 0.2em;
    line-height: 16px;
    color: white;
    background: rgba(33, 107, 175, 0.8);
    padding: 10px;
    text-align: center;
    max-height: 60vh;
    overflow: auto;
  }

  div.colored:nth-child(2n + 0) {
    background: rgba(82, 156, 79, 0.8);
  }

  a {
    background-color: #ff9900;
    color: white;
    padding: 2px 4px;
    text-decoration: none;
    border-radius: 2px;
    border: 1px solid black;
  }

  a:hover {
    background-color: #c16e00;
  }
}

div[data-scene="Tutorial"],
div[data-scene="GameOver"] {
  div.colored:nth-child(1) {
    border: 1px solid black;
  }
}

div[data-scene="Menu"] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;

  .menu-option {
    width: 240px;
    border-radius: 0.2em;
    line-height: 60px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;

    &:hover {
      div {
        transform: rotateY(0deg);
      }
    }

    div {
      transform: rotateY(180deg);
      transition: 0.5s;
    }
  }

  .menu-option:nth-child(1) {
    background: rgba(82, 156, 79, 0.95);
    transform: rotateY(0deg) translateZ(60px);
  }

  .menu-option:nth-child(2) {
    background: rgba(33, 175, 154, 0.95);
    transform: rotateY(0deg) translateZ(60px);
  }

  .menu-option:nth-child(3) {
    background: rgba(228, 152, 0, 0.95);
    transform: rotateY(0deg) translateZ(60px);
  }

  .menu-option:nth-child(4) {
    background: rgba(33, 107, 175, 0.8);
    transform: rotateY(0deg) translateZ(60px);
  }

  .previous,
  .next {
    display: inline-block;
    padding: 6px 17px;
    margin: 0 10px;
    background-color: #ffffff5c;
    color: $color-blue;
    border-radius: 50%;
    font-size: 25px;

    &:hover {
      background-color: $color-light-blue;
    }
  }
}

div[data-scene="GamePlay"] {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  align-items: center;
  text-align: center;

  .sentence {
    font-size: 30px;
    transform: rotateY(180deg);
    text-transform: uppercase;
    border-radius: 0.2em;
    border: 1px solid black;
    line-height: 45px;
    font-weight: bold;
    color: white;
    background: rgba(82, 156, 79, 0.9);
  }

  .question {
    font-size: 18px;
    border-radius: 0.2em;
    border: 1px solid black;
    line-height: 38px;
    color: white;
    background: rgba(167, 83, 113, 0.8);
  }

  .status {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    > div {
      padding: 5px;
      border-radius: 0.2em;
      border: 1px solid black;
      color: white;
      background: rgba(113, 65, 173, 0.75);
      margin: 0 10px;
    }
  }
}

div[data-scene="GamePlay"] .answer,
.back-to-menu {
  display: inline-block;
  box-sizing: content-box;
  margin: 0.5em;
  padding: 0 1.5em;
  border-radius: 0.2em;
  font:
    normal normal bold 1em/2em Arial,
    Helvetica,
    sans-serif;
  color: white;
  text-overflow: clip;
  white-space: nowrap;
  background: rgba(103, 192, 185, 0.9);
  box-shadow:
    0 0 1px 1px rgba(50, 126, 129, 0.8),
    0 1px 0 0 rgba(0, 0, 0, 0.3);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;

  &:hover {
    border: 1px solid rgba(11, 10, 22, 0.9);
    box-shadow:
      0 0 1px 1px rgba(10, 11, 14, 0.8) inset,
      0 1px 0 0 rgba(0, 0, 0, 0.3);
  }

  &:active {
    position: relative;
    top: 1px;
    border: 1px solid rgb(3, 7, 7);
    color: rgb(233, 233, 233);
    background: rgb(82, 161, 154);
    box-shadow:
      0 0 1px 1px rgba(56, 56, 56, 0.8) inset,
      0 1px 0 0 rgba(0, 0, 0, 0.3) inset;
    transition: none;
  }
}

.current-streak,
.longest-streak {
  font-size: large;
  font-weight: bold;
}

/* scoreboard */

div[data-scene="Scoreboard"] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .back-to-menu {
    position: sticky;
    bottom: 0.5em;
  }
}

#scoreboard {
  max-height: 70vh;
  max-width: 100vw;
  overflow: auto;
  margin-left: -10px;
  margin-right: -10px;
  padding-top: 1em;
}

.score-row {
  display: flex;
  font-size: 120%;
  color: #fff;
  text-align: left;
  padding: 1% 2%;
  margin: 1% 4%;
  border-radius: 0.3em;
}

.score-row.you {
  background: #fff;
  color: #535353;
}

.row-pos {
  text-align: left;
  color: #ddd;
}
.you .row-pos {
  color: #999;
}

.row-score {
  flex-grow: 1;
  text-align: right;
  display: inline-block;
}

.row-name {
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
